*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/main/res/values/keys.xml
/app/google-services.json
*.apk
*.ap_
*.dex
*.class
bin/
gen/
.gradle/
proguard/
.metadata/
Thumbs.db
.idea/tasks.xml
.idea/datasources.xml
.idea/dataSources.ids
